/* navbar mobile view */
.header .header-wrapper {
    width: 100%;
}

.header .header-wrapper .navbar {
    display: none;
}

/* main image mobile view */
.main-section .hero-section .hero-image {
    min-height: 250px;
}

/* main article mobile view */
.main-section .hero-section {
    position: static;   
}

.main-section .hero-section .hero-description {
    width: 80%;
    left: 10%;
    padding: 20px;
    top: 300px;
}

.main-section .hero-section .hero-description h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* article latest post mobile view */
.main-section .blogs-section {
    margin-top: 16rem;
}

.main-section .blogs-section .posts .single-post {
    flex-basis: 100%;
}